<% if logged_in? %>
  <div class="jumbotron text-center">
    <h1>Share your recipes with the world!</h1>
    <h2>Chefs all around the globe want to see your recipes!</h2>
    <%= link_to "New Recipe", new_recipe_path, class: "btn btn-lg btn-success" %>
  </div>
<% else %>
  <div class="jumbotron text-center">
    <h1>Welcome to My Veg Recipes!</h1>
    <h2>Discover our community's best recipes by signing up!</h2>
    <%= link_to "Join the Community", register_path, class: "btn btn-lg btn-success" %>
  </div>
<% end %>

<div class="row">
  
  <div class="col-md-4 text-center well">
    <h3 class="midrow">Start cooking new recipes.</h3>
    <h2>Explore the community's recipes and discover recipes from other chefs.</h2>
    <p><%= link_to "Discover Recipes", recipes_path, class: "btn btn-primary btn-small btn-block" %></p>
  </div>
  
  <div class="col-md-4 text-center well">
    <h3 class="midrow">Get your recipes out there!</h3>
    <h2>Create your own recipes and tell your friends about how delicious they are.</h2>
    <p><%= link_to "New Recipe", new_recipe_path, class: "btn btn-success btn-small btn-block" %></p>
  </div>
  
  <div class="col-md-4 text-center well">
    <h3 class="midrow">Meet our community of chefs.</h3>
    <h2>View other chefs' profiles to discover what they've been cooking lately.</h2>
    <p><%= link_to "Meet The Chefs", chefs_path, class: "btn btn-primary btn-small btn-block" %></p>
  </div>
  
</div>